[Unit]
Description=CHORD/FRB uWSGI service
# Requirements
Requires=network.target
# Dependency ordering
After=network.target

[Service]
TimeoutStartSec=0
RestartSec=10
Restart=always
KillSignal=SIGQUIT
Type=forking
NotifyAccess=all
WorkingDirectory=/home/dstn/chord/chord-frb-db
User=dstn
#Environment="PYTHONPATH=/home/nova" "PATH=/usr/local/bin:/usr/bin:/bin:/home/nova/astrometry/util:/home/nova/astrometry/solver:/home/nova/astrometry/plot"
ExecStart=/home/dstn/chord/chord-frb-db/web/uwsgi.sh

[Install]
WantedBy=multi-user.target
