<p>Hello world!</p>

<p>Got total number of events: {{ event_pager.total }}, Events on this page: {{ events|length }} </p>

<p>Events: {{ event_pager.first }} to {{ event_pager.last }} of {{ event_pager.total }}
</p>

<p>Pages:
  {% for page in event_pager.iter_pages() %}
  {% if page %}
  {% if page != event_pager.page %}
  <a href="{{ url_for('hello', page=page) }}">{{ page }}</a>
  {% else %}
  <strong>{{ page }}</strong>
  {% endif %}
  {% else %}
  <span class=ellipsis>…</span>
  {% endif %}
      {% endfor %}

<p>
  <table border=1>
    <tr>
      {% for field in fields %}
      <th>{{field}}</th>
      {% endfor %}
      </tr>
    {% for event in events %}
    <tr>
      {% for field in fields %}
      <td>
	{% if field in ['total_snr', 'dm', 'dm_ne2001', 'dm_ymw2016'] %}
	  {{ event[field]|round(2) }}
	{% else %}
	  {{ event[field] }}
	{% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</p>
