---
type: config
# Logging level can be OFF, ERROR, WARN, INFO, DEBUG, or DEBUG2
log_level: DEBUG
# Which CPUs is kotekan allowed to run on?
cpu_affinity: [5]

# Constants
sizeof_float: 4

giga: 1000000000

sec_in_jyear: 36525 * 864
nsec_in_jyear: sec_in_jyear * giga

sec_in_day: 86400
nsec_in_day: sec_in_day * giga

earth_rotation_data:
  kotekan_update_endpoint: "json"
  earth_orientation_parameter_table: [
    {
      time_inst_ns: 1578010000000000300,
      delta_UT1_inst: 0.5,
      x_pm: 0.1,
      y_pm: 0.2
    }]
#, {
#  time_inst_ns: 1578040000000000380,
#  delta_UT1_inst: 0.801234,
#  x_pm: 3.0,
#  y_pm: 4.0,
#}, {
#  time_inst_ns: 1578030000000000350,
#  delta_UT1_inst: 0.1,
#  x_pm: -0.5,
#  y_pm: -0.6,
#}]


telescope:
  name: CHORDTelescope
  require_gps: false
  origin_itrs_lon_deg: -119.62081125
  origin_itrs_lat_deg: 49.3207514444444444
  grid_x_axis: [1.0, 0.0, 0.0]
  grid_y_axis: [0.0, 1.0, 0.0]
  dish_elev_axis: [1.0, 0.0, 0.0]
  dish_vert_axis: [0.0, 0.0, 1.0]
  dish_coelev_deg: 0.0

  updatable_config: "/earth_rotation_data"

  dish_separation_x_m: 6.3
  dish_separation_y_m: 8.5

  dish_inputs: [
    {dish_idx: 0, grid_x_idx: 0, grid_y_idx: 0, feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: CHORD-A01},
    {dish_idx: 1, grid_x_idx: 1, grid_y_idx: 0, feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: CHORD-A02},
    {dish_idx: 4, grid_x_idx: 0, grid_y_idx: 1, feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: CHORD-B01},
    {dish_idx: 5, grid_x_idx: 1, grid_y_idx: 1, feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: CHORD-B02},
    {dish_idx: 2, grid_x_idx: 7, grid_y_idx: 0, feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: CHORD-A08},
    {dish_idx: 6, grid_x_idx: 0, grid_y_idx: 7, feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: CHORD-H01},
    {dish_idx: 7, grid_x_idx: 7, grid_y_idx: 7, feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: CHORD-H08},
    {dish_idx: 3, grid_x_idx: 15, grid_y_idx: 0, feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: CHORD-A16},
    {dish_idx: 8, grid_x_idx: 0, grid_y_idx: 15, feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: CHORD-P01},
    {dish_idx: 9, grid_x_idx: 15, grid_y_idx: 15, feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: CHORD-P16}
  ]

gps_time:
  frame0_nano: 50 * nsec_in_jyear

num_dishes: 32

# Add a consumer stage that prints the output buffer to screen
screen_dump:
  kotekan_stage: TestCHORDTelescope
  updatable_config: "/updates"

