<!DOCTYPE html>
<html>
  <head><title>D3 test</title></head>
  <body>
  <h1>D3 Test</h1>
<div id="myplot"></div>
<script src="static/d3.v7.js"></script>
<script src="static/plot.js"></script>

<script type="module">

  const data = await d3.json("static/snr_cg.json");

  // const plot = Plot.plot({
  //     grid: true,
  //     //inset: 10,
  //     //aspectRatio: 1,
  //     //aspectRatio: fixed ? 1 : undefined,
  //     color: {legend: true},
  //     marks: [
  // 	  Plot.frame(),
  // 	  Plot.dot(data, {x: "beam_x", y: "beam_y", stroke: "sn_cg"})
  //     ]
  // })
  
  //const plot = Plot.rectY({length: 10000}, Plot.binX({y: "count"}, {x: Math.random})).plot();

//function func(x) {
//console.log("func: " + x);
//}

var tooltips = [];
for (var i=0; i<data["beam_x"].length; i++) {
    tooltips.push(
	"Beam: " + (i+1) + "\n" +
	"SN: " + data["sn_cg"][i].toFixed(2)
	//{"beam_x": data["beam_x"][i], "beam_y": data["beam_y"][i], "sn_cg": data["sn_cg"][i]}
    );
}

  const plot = Plot.plot({
      title: "Maximum FRB trigger S/N per beam",
      grid: true,
      aspectRatio: 1,
      color: {legend: true},
      marks: [
	  Plot.frame(),
	  Plot.dot({
	      length: data["beam_x"].length,
	  }, {
	      x: data["beam_x"],
	      y: data["beam_y"],
	      //stroke: data["sn_cg"],
	      fill: data["sn_cg"],
	      //fillOpacity: 0.5,
	      //mixBlendMode: "lighten",
	      //pointerEvents: "fill",
	  }),
	  // red dot that follows the cursor
	  Plot.dot({length: data["beam_x"].length}, Plot.pointer({x: data["beam_x"], y: data["beam_y"], stroke: "red", r: 8})),
	  Plot.tip({length: data["beam_x"].length}, Plot.pointer({x: data["beam_x"], y: data["beam_y"],
								  //filter: (d) => d.info,
								  //title: func,
								  title: tooltips,
								 })),
	  //data["sn_cg"]})), //(d) => [d.name, d.info].join("\n\n")})),
								  //sn: data["sn_cg"]})),
      ],
  })

  //Plot.lineY({length: linedata.length}, {
  //    x: linedata.map((d) => d.hour),
  //    y: linedata.map((d) => d.value),
  //    stroke: linedata.map((d) => d.sensor)
  //}).plot()

  
  var transposed = [];
  for (var i=0; i<data["beam_x"].length; i++) {
      transposed.push({"beam_x": data["beam_x"][i], "beam_y": data["beam_y"][i], "sn_cg": data["sn_cg"][i]});
  }
  
  // const plot = Plot.plot({
  //     // height: 200,
  // 
  //     // y axis control:
  //     // y: {
  //     // 	  type: "log",
  //     // 	  domain: [30, 300],
  //     // 	  grid: true
  //     // },
  // 
  //     title: "Maximum FRB trigger S/N per beam",
  //     grid: true,
  //     aspectRatio: 1,
  //     color: {legend: true},
  //     marks: [
  // 	  Plot.frame(),
  // 	  Plot.dot(transposed, {x: "beam_x", y: "beam_y", stroke: "sn_cg"}),
  //     ]
  // });
  // const color = plot.scale("color"); // get the color scale
  // console.log(color.range);
  
  const div = document.querySelector("#myplot");
  div.append(plot);

</script>

{# Vanilla D3
<div id="container"></div>
<script type="module">

  // Declare the chart dimensions and margins.
  const width = 640;
  const height = 400;
  const marginTop = 20;
  const marginRight = 20;
  const marginBottom = 30;
  const marginLeft = 40;

  // Declare the x (horizontal position) scale.
  const x = d3.scaleUtc()
	.domain([new Date("2023-01-01"), new Date("2024-01-01")])
	.range([marginLeft, width - marginRight]);

  // Declare the y (vertical position) scale.
  const y = d3.scaleLinear()
	.domain([0, 100])
	.range([height - marginBottom, marginTop]);

  // Create the SVG container.
  const svg = d3.create("svg")
	.attr("width", width)
	.attr("height", height);

  // Add the x-axis.
  svg.append("g")
    .attr("transform", `translate(0,${height - marginBottom})`)
    .call(d3.axisBottom(x));

  // Add the y-axis.
  svg.append("g")
    .attr("transform", `translate(${marginLeft},0)`)
    .call(d3.axisLeft(y));

  // Append the SVG element.
  container.append(svg.node());

</script>
#}

  </body>
</html>
