<!DOCTYPE html>
<html>
  <head><title>D3 test</title></head>
  <body>
  <h1>D3 Test</h1>

    <div id="myplot"></div>
    <div id="timeslider_div">
    Time: <span id="time_display">xxx</span><br/>
    Time: <input type="range" id="time_slider" name="time" min="0" max="10" value="8"/>
    </div>
<script src="static/d3.v7.js"></script>
<script src="static/plot.js"></script>

<script type="module">

function delay(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}


const timeslider = document.querySelector("#time_slider");
const timedisplay = document.querySelector("#time_display");
timedisplay.textContent = timeslider.value;
timeslider.addEventListener("input", (event) => {
    timedisplay.textContent = event.target.value;
});

const data = await d3.json("static/snr_cg.json");

// const plot = Plot.plot({
//     grid: true,
//     //inset: 10,
//     //aspectRatio: 1,
//     //aspectRatio: fixed ? 1 : undefined,
//     color: {legend: true},
//     marks: [
// 	  Plot.frame(),
// 	  Plot.dot(data, {x: "beam_x", y: "beam_y", stroke: "sn_cg"})
//     ]
// })
  
//const plot = Plot.rectY({length: 10000}, Plot.binX({y: "count"}, {x: Math.random})).plot();

//function func(x) {
//console.log("func: " + x);
//}

var tooltips = [];
for (var i=0; i<data["beam_x"].length; i++) {
    tooltips.push(
	"Beam: " + (i+1) + "\n" +
	    "SN: " + data["sn_cg"][i].toFixed(2)
	//{"beam_x": data["beam_x"][i], "beam_y": data["beam_y"][i], "sn_cg": data["sn_cg"][i]}
    );
}

var beam_size = []
for (var i=0; i<data["beam_x"].length; i++) {
    beam_size.push(
	5. * Math.sqrt(i / data["beam_x"].length));
}



const plot = Plot.plot({
    title: "Maximum FRB trigger S/N per beam",
    grid: true,
    aspectRatio: 1,
    color: {legend: true,
	    scheme: "inferno" },
    r: {range: [0, 5]},
    marks: [
	Plot.frame(),
	Plot.dot({
	    length: data["beam_x"].length,
	}, {
	    x: data["beam_x"],
	    y: data["beam_y"],
	    r: beam_size,
	    //stroke: data["sn_cg"],
	    fill: data["sn_cg"],
	    //fillOpacity: 0.5,
	    //mixBlendMode: "lighten",
	    //pointerEvents: "fill",
	    //scheme: "magma",

	    render: (i, s, v, d, c, next) => {
		console.log("render() called");
		const g = next(i, s, v, d, c);
		c.ownerSVGElement.update = (values) =>
		d3
		    .select(g)
		    .selectAll("circle")
		//.transition()
		//.duration(750)
		    .attr("fill", (i) => s.color(values[i]));
		return g;
	    }
	}),
	// red dot that follows the cursor
	Plot.dot({length: data["beam_x"].length}, Plot.pointer({x: data["beam_x"], y: data["beam_y"], stroke: "red", r: 8})),
	// tooltip
	Plot.tip({length: data["beam_x"].length}, Plot.pointer({x: data["beam_x"], y: data["beam_y"],
								//filter: (d) => d.info,
								//title: func,
								title: tooltips,
							       })),
	//data["sn_cg"]})), //(d) => [d.name, d.info].join("\n\n")})),
	//sn: data["sn_cg"]})),
	// crosshairs
	Plot.crosshair({length: data["beam_x"].length}, {x: data["beam_x"], y: data["beam_y"]})
    ],
})

//Plot.lineY({length: linedata.length}, {
//    x: linedata.map((d) => d.hour),
//    y: linedata.map((d) => d.value),
//    stroke: linedata.map((d) => d.sensor)
//}).plot()

  
var transposed = [];
for (var i=0; i<data["beam_x"].length; i++) {
    transposed.push({"beam_x": data["beam_x"][i], "beam_y": data["beam_y"][i], "sn_cg": data["sn_cg"][i]});
}
  
// const plot = Plot.plot({
//     // height: 200,
// 
//     // y axis control:
//     // y: {
//     // 	  type: "log",
//     // 	  domain: [30, 300],
//     // 	  grid: true
//     // },
// 
//     title: "Maximum FRB trigger S/N per beam",
//     grid: true,
//     aspectRatio: 1,
//     color: {legend: true},
//     marks: [
// 	  Plot.frame(),
// 	  Plot.dot(transposed, {x: "beam_x", y: "beam_y", stroke: "sn_cg"}),
//     ]
// });
// const color = plot.scale("color"); // get the color scale
// console.log(color.range);
  
const div = document.querySelector("#myplot");
div.append(plot);


// Animation loop
{
    console.log("delay...");
    //await Promises.delay(5000);
    delay(1000);
    do {
	console.log("generate random values...");
	const newValues = Array.from({ length: data["beam_x"].length }, d3.randomInt(1, 10))
	//const newValues = data.map(d3.randomInt(1, 10));
	//yield newValues;
	console.log("update plot...");
	await plot.update(newValues).end();
	//await Promises.delay(1300);
	console.log("delay");
	delay(1000);
    } while (true);
}




</script>

{# Vanilla D3
<div id="container"></div>
<script type="module">

  // Declare the chart dimensions and margins.
  const width = 640;
  const height = 400;
  const marginTop = 20;
  const marginRight = 20;
  const marginBottom = 30;
  const marginLeft = 40;

  // Declare the x (horizontal position) scale.
  const x = d3.scaleUtc()
	.domain([new Date("2023-01-01"), new Date("2024-01-01")])
	.range([marginLeft, width - marginRight]);

  // Declare the y (vertical position) scale.
  const y = d3.scaleLinear()
	.domain([0, 100])
	.range([height - marginBottom, marginTop]);

  // Create the SVG container.
  const svg = d3.create("svg")
	.attr("width", width)
	.attr("height", height);

  // Add the x-axis.
  svg.append("g")
    .attr("transform", `translate(0,${height - marginBottom})`)
    .call(d3.axisBottom(x));

  // Add the y-axis.
  svg.append("g")
    .attr("transform", `translate(${marginLeft},0)`)
    .call(d3.axisLeft(y));

  // Append the SVG element.
  container.append(svg.node());


 
</script>
#}

  </body>
</html>
